<!doctype html>
<html lang="">
<head>
    <% if (bannerType === 'Weborama') { %>
    <!-- ADRIME SCREENAD META DATA (don't edit/remove) -->
    <!-- SCRVERSION: screenad_interface_1.0.3 -->
    <!-- SCRFORMAT: banner -->
    <!-- SCRWIDTH: <%= bannerWidth %> -->
    <!-- SCRHEIGHT: <%= bannerHeight %> -->
    <% } %>

    <meta charset="utf-8">
    <title><%= appname %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">

    <% if (bannerType === 'DoubleClick') { %><script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script><% } %>    
    <% if (bannerType === 'Sizmek') { %><script src="https://secure-ds.serving-sys.com/BurstingScript/EBLoader.js"></script><% } %>
    <% if (bannerType === 'Weborama') { %><script type="text/javascript" src="//media.adrcdn.com/scripts/screenad_interface_1.0.3_scrambled.js"></script><% } %>

</head>
<body>
    <div id="banner">        
        <h1 id="title">Freakin Banners!</h1>
        <p id="caption">Get some</p>
        <div id="border"></div>
        <div id="button-exit"></div>        
    </div>

    <% if (includeZepto == true) { %><script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script><% } %>
    <% if (includeZepto == false) { %><script src="//media.adrcdn.com/scripts/jquery.min.js"></script><% } %>
    <script type="text/javascript" src="//code.createjs.com/preloadjs-0.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TimelineLite.min.js"></script>
    <% if (bannerType === 'Flashtalking') { %><script src="http://cdn.flashtalking.com/frameworks/js/api/2/9/html5API.js"></script><% } %>

    <script src="main.js"></script>
</body>
</html>