body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

a {
    text-decoration: none;
    color: inherit;
}

#banner {
    background: #111;
    @include absolute(50% 50%);
    width: $banner-width;
    height: $banner-height;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    overflow: hidden;

    #button-exit {
        @include absolute(0 0 0 0);
        cursor: pointer;
    }

    #border {
        border: 1px solid #ccc;
        display: block;
        @include absolute(0 0);
        width: $banner-width - 2;
        height: $banner-height - 2;
        pointer-events: none;
        z-index: 999;
    }

    #title {
        @include absolute(50% 50%);
        @include center;
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1px;
        color: #ff0000;
        opacity: 0;
        margin: 0;
    }

    #caption {
        text-align: center;
        opacity: 0;
    }
}